cnb-sdat/xsd/common/DatoveTypy.xsd

<?xml version="1.0" encoding="utf-8"?>
	<xs:schema targetNamespace="urn:cz:cnb:sdat:schemas:DatoveTypy:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:cnb:sdat:schemas:DatoveTypyTypy:v1" xmlns:tstr="urn:cz:cnb:sdat:schemas:DatoveTypyTypy:v1" version="1.0.0">
		<xs:simpleType name="DT_4BYTES">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_BLOB">
			<xs:annotation>
				<xs:documentation xml:lang="cs">Datový typ pro binární data (Oracle = BLOB, Java = BinaryStream)</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:base64Binary"/>

		</xs:simpleType>
		<xs:simpleType name="DT_BOOL">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:boolean"/>

		</xs:simpleType>
		<xs:simpleType name="DT_CHAR1">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_DATE">
			<xs:annotation>
				<xs:documentation xml:lang="cs">Datový typ pro datum (Oracle DATE, Java java.util.Date)</xs:documentation>
			</xs:annotation>
			  <xs:restriction base="xs:date">
			    <xs:minInclusive value="1900-01-01"/>
			    <xs:maxInclusive value="4000-01-01"/>
			  </xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_ID">
			<xs:annotation>
				<xs:documentation xml:lang="cs">Interní identifikátor (ORACLE - NUMBER(18), Java long)</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedLong">
				<xs:minInclusive value="1"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT1">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="9"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT10">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedLong">
				<xs:maxInclusive value="9999999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT14">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedLong">
				<xs:maxInclusive value="99999999999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT2">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="99"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT3">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT4">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="9999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT5">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="99999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT6">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT7">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="9999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT8">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="99999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_INT9">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedInt">
				<xs:maxInclusive value="999999999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_KOD">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_LONG">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:unsignedLong"/>

		</xs:simpleType>
		<xs:simpleType name="DT_LONG_TEXT">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_NUMVAL">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="38"/>
				<xs:fractionDigits value="8"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_SINT3">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="-999"/>
				<xs:maxInclusive value="999"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT_5">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="5"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT100">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="100"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT1000">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1000"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT12">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="12"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT128">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="128"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT16">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT2000">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="2000"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT255">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="255"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT256">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="256"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT30">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT32">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT4000">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4000"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT50">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT6">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT64">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TEXT7">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="7"/>

			</xs:restriction>

		</xs:simpleType>
		<xs:simpleType name="DT_TIME">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:dateTime"/>

		</xs:simpleType>
		<xs:simpleType name="DT_VAHA">
			<xs:annotation>
				<xs:documentation xml:lang="cs">TODO</xs:documentation>
			</xs:annotation>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="-1"/>
				<xs:maxInclusive value="1"/>

			</xs:restriction>

		</xs:simpleType>
</xs:schema>